<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818152011986-fnve4n5125ti9v2b4ur8c5gk741avmq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818152011986-fnve4n5125ti9v2b4ur8c5gk741avmq8</string>
	<key>API_KEY</key>
	<string>AIzaSyDCAiTpwePLNYVU0LgRfeceg8CPYFWq5OE</string>
	<key>GCM_SENDER_ID</key>
	<string>818152011986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunnydaysolution.PokeHeatMap-For-Pokemon-Go</string>
	<key>PROJECT_ID</key>
	<string>pokeheatmap-for-pokemon-go</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeheatmap-for-pokemon-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818152011986:ios:6062a43a7e7fd0f9</string>
	<key>DATABASE_URL</key>
	<string>https://pokeheatmap-for-pokemon-go.firebaseio.com</string>
</dict>
</plist>